nav{ 
  background-color: #ffffff;
  border-bottom: lightgray 3px solid;
}

body{
  background-image: url(../images/dust_scratches.png);
}

nav a{
  border-left: #efefef 2px solid;
}
/*
.container{
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

h3{
  color: #4aaaa5;
}

header{
  background-color: #ffffff;
  border-color: #cccccc;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: lightgray 3px solid;
}

header a{
  color: #cccccc;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
}

header li{
  float: right;
  display: inline;
  padding: 0 20px 0 20px;
  border-left: #efefef 2px solid;
}

header nav{
  float: right;
  margin-top: 20px;
}

#name h1{
  float: left;
  background-color:#4aaaa5;
  color:#ffffff;
  padding: 20px;
  margin: 0;
}

header .current a, a:hover{
  color: #4aaaa5;
  font-weight: bold;
}

section{
  min-height: 400px;
  background-color: #ffffff;
  text-align: center;
}

section h1{
  border-bottom: lightgray 3px solid;
  padding-bottom: 20px;
}*/

